.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;

  .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;

    &.front {
      transform: translateZ(-100px) rotateY(0);
    }

    &.back {
      transform: translateZ(-100px) rotateY(180deg);
    }

    &.left {
      transform: translateZ(-100px) rotateY(90deg);
    }

    &.right {
      transform: translateZ(-100px) rotateY(-90deg);
    }

    &.top {
      transform: translateZ(-100px) rotateX(90deg);
    }

    &.bottom {
      transform: translateZ(-100px) rotateX(-90deg);
    }

    .face {
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 200px;
      border: 1px solid black;
      position: absolute;

      &.front {
        background-color: rgba(255, 0, 0, 0.7);
        transform: rotateY(0deg) translateZ(100px);
      }

      &.back {
        background-color: rgba(0, 128, 0, 0.7);
        transform: rotateY(180deg) translateZ(100px);
      }

      &.right {
        background-color: rgba(0, 255, 255, 0.7);
        transform: rotateY(90deg) translateZ(100px);
      }

      &.left {
        background-color: rgba(128, 0, 128, 0.7);
        transform: rotateY(-90deg) translateZ(100px);
      }

      &.top {
        background-color: rgba(255, 140, 0, 0.7);
        transform: rotateX(-90deg) translateZ(100px);
      }

      &.bottom {
        background-color: rgba(255, 0, 255, 0.7);
        transform: rotateX(90deg) translateZ(100px);
      }
    }
  }
}
