header {
  background-color: #343a40;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 32px;
  position: fixed;
  top: 0;
  left: 0;
  color: white;

  ul {
    display: flex;

    li {
      margin: 0 12px 0 0;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
