<header>
  <ul>
    <li>
      <a routerLink="">Home</a>
    </li>
    <li>
      <a routerLink="animals">Animals</a>
    </li>
    <li>
      <a routerLink="not-found">Invented</a>
    </li>
  </ul>
</header>
