<!-- <input type="text" [(ngModel)]="animal.name">
<textarea name="" id="" cols="30" rows="10" [(ngModel)]="animal.description"></textarea>
<button (click)="addAnimal()">Add</button> -->
<!-- 
<div class="accordion">
  <app-accordion-panel
    *ngFor="let animal of animals"
    [title]="animal.name">
    {{ animal.description }}
  </app-accordion-panel>
</div>

Total: {{ getTotalPanels() }} -->
<ng-content></ng-content>
